<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.mqm.frame.sys.user.vo.User" alias="User" />
		<typeAlias type="com.mqm.frame.sys.menu.vo.Cdxx" alias="Cdxx" />
		<typeAlias type="com.rtsp.bjgl.vo.Bj" alias="Bj" />
		<typeAlias type="com.rtsp.sxtgl.vo.Sxt" alias="Sxt" />
	</typeAliases>

</configuration>